<!DOCTYPE html>
<html lang="en-US">
  
  <head>
    <title>Image Upload</title>
    
    <script src="static/js/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="static/css/style.css"></script>

    <meta charset="UTF-8"/>
    <meta name="author" content="Sam Mishra"/>
    <meta name="description" content="Upload Images"/>
    
  </head>
  
  <body>
    
    <ul>
      <li><a href="/">Image Upload</a></li>
      <li style="float:right"><a href="/LogOut">Log Out</a></li>
      <li style="float:right"><a href="/LogInPage">Log In</a></li>
      <li style="float:right"><a href="/SignUpPage">Sign Up</a></li>
      <li style="float:right"><a href="/UserHomePage">Home</a></li>
      <li style="float:right"><a href="/UploadPage">Upload</a></li>
      <li style="float:right"><a href="/EditPage">Edit</a></li>
    </ul>
    
    <br/>

    <form action="/LogIn" method="post">
      <input type="text" name="username" id="username" placeholder="Username" required autofocus/>
      <br/>
      <input type="password" name="password" id="password" placeholder="Password" required autofocus/>
      <br/>
      <button id="buttonLogIn" type="submit">Log In</button>
    </form>

    <br/>

    <footer>Copyright &copy; Samuel A. Mishra</footer>
  </body>
</html>
